body{
    font-family: 'Roboto', 'Noto Sans JP',"Meiryo UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN","Yu Gothic UI", "MS PGothic", sans-serif;
    color: #2f2f2f;
}

a{
    color: #2f2f2f;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body{
        color: #fcfcfc;
        background: #1c1c1c;
    }

    a{
        color: #fff;
    }
}